.jquery-modal {
    z-index: 100;
}
.blocker {
    backdrop-filter: blur(5px);
    background: rgba(black, 0.4);
}

.modal {
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    a.close-modal {
        background: none;
        width: 24px;
        height: 24px;
        right: 15px;
        top: 12px;
        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            width: 100%;
            height: 1px;
            background: black;
        }
        &:before {
            rotate: -45deg;
        }
        &:after {
            rotate: 45deg;
        }
        @include hover {
            opacity: 0.5;
        }
    }
    @include sm {
        width: 100%;
    }
}
.modal-map {
    padding: 0;
    max-width: 1200px;
    &__title {
        padding: 15px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        padding-right: 40px;
        background: $orange;
    }
    iframe {
        aspect-ratio: 16/9;
        width: 100%;
    }
}
.modal-success {
    max-width: 400px;
    border-radius: 25px;
    a.close-modal {
        display: none !important;
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        font-size: 20px;
        gap: 10px;
    }
    i {
        color: $green;
        font-size: 100px;
        margin-bottom: 20px;
    }
}
