$container-gap: 15px;
$container-width: 1310px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;

$black: #111827;
$orange: #e2ba4e;
$green: #3aa938;
$red: #d61d1d;

$telegram: #2ca8ed;
$whatsapp: #43cd40;
